
<div>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>
  <div class="container-fluid" style="background-image: url(./assets/images/home.png);min-height:100vh;background-size: cover;">
    <section class="home pt-5 mt-2" >
      <div class="container-fluid mx-4">
        <div class="row col-12">
          <div class="col-md-6 pt-4">
            <H1 class="pt-5 mt-3">“Healthy citizens are the best asset
              any country can have.” </H1>
            <h3 class="py-2">We caring of your health...</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consequuntur numquam quos et exercitationem facere culpa quas velit recusandae nesciunt, laudantium accusamus doloremque, eveniet iure. Perspiciatis doloribus nam cupiditate esse.</p>
          </div>
          <div class="col-md-6">
            <img src="./assets/images/homeimg.png" alt="" style="width:100%;height:85vh;">
          </div>
        </div>
      </div>
    </section>
  </div>
<br/>
<div class="about pb-5">
  <h1 class="text-center mb-5" style="color: #2E6F8F">Channel 24 center</h1>
  <div class="container-fluid mx-5">
    <div class="row col-12 ">
      <div class="col-md-6">
        <img src="./assets/images/about.png" alt="about image" width="90%" >
      </div>

      <div class="col-md-6 text mt-4">
        <h1 class="text-end">About Us</h1>
        <p class="text-md-end">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Curabitur gravida arcu ac tortor dignissim convallis. Consequat interdum varius sit amet mattis vulputate enim. Facilisis gravida neque convallis a cras semper. Convallis tellus id interdum velit. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Imperdiet massa tincidunt nunc pulvinar sapien. Lacus luctus accumsan tortor posuere ac ut. Habitasse platea dictumst quisque sagittis. Imperdiet nulla malesuada pellentesque elit eget gravida cum. Convallis aenean et tortor at risus viverra adipiscing.
          Cum sociis natoque penatibus et magnis dis parturient montes. Diam maecenas ultricies mi eget mauris pharetra et. Morbi tincidunt augue interdum velit euismod. Lectus sit amet est placerat in. Et egestas quis ipsum suspendisse ultrices gravida dictum. Mauris pellentesque pulvinar pellentesque habitant. A cras semper auctor neque vitae tempus.</p>
      </div>
    </div>
<br/><br/>
    <div class="site-slider px-4">
      <div class="slider-one ">
<tr>
  <td><img src="./assets/images/slide1.png" style="width: 16rem; height: 17rem; " alt=""></td>
  <td><img src="./assets/images/slide2.png" style="width: 16rem; height: 17rem;" alt=""></td>
  <td><img src="./assets/images/slide3.png" style="width: 16rem; height: 17rem;" alt=""></td>
  <td><img src="./assets/images/slide4.png" style="width: 16rem; height: 17rem;" alt=""></td>
  <td><img src="./assets/images/slide5.png" style="width: 16rem; height: 17rem;" alt=""></td>
</tr>

      </div>
    </div>
  </div>

</div>

<section class="service py-4">
  <div class="container">
    <h1 class="text-center">Services</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Curabitur gravida arcu ac tortor dignissim convallis. Consequat interdum varius sit amet mattis vulputate enim. Facilisis gravida neque convallis a cras semper. Convallis tellus id interdum velit. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Imperdiet massa tincidunt nunc pulvinar sapien. Lacus luctus accumsan tortor posuere ac ut. Habitasse platea dictumst quisque sagittis. Imperdiet nulla malesuada pellentesque elit eget gravida cum. Convallis aenean et tortor at risus viverra adipiscing.
      Cum sociis natoque penatibus et magnis dis parturient montes.</p>

    <div class="row mt-5" style="margin-left: 6cm ;color: cornflowerblue">

      <div class="card" style="width: 18rem;">
      <div class="icon">
        <i class="fas fa-eye text-light px-3"></i>
      </div>
      <div class="card-body">
        <h4 class="text-center">Eye clinic</h4>
        <p class="card-text text-center text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi nihil cumque! Iste, eligendi nesciunt, eveniet officia magni iusto totam consequuntur aliquam ullam consectetur.</p>
      </div>
    </div>

      <div class="card" style="width: 18rem;">
        <div class="icon">
          <i class="fas fa-tooth text-light px-3"></i>
        </div>
        <div class="card-body">
          <h4 class="text-center">Dental</h4>
          <p class="card-text text-center text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi nihil cumque! Iste, eligendi nesciunt, eveniet officia magni iusto totam consequuntur aliquam ullam consectetur.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="icon">
          <i class="fas fa-flask px-3 text-light"></i>
        </div>
        <div class="card-body">
          <h4 class="text-center">Laboratory </h4>
          <p class="card-text text-center text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi nihil cumque! Iste, eligendi nesciunt, eveniet officia magni iusto totam consequuntur aliquam ullam consectetur.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="icon">
          <i class="fas fa-prescription-bottle-alt text-light px-3 "></i>
        </div>
        <div class="card-body">
          <h4 class="text-center">Pharmacy</h4>
          <p class="card-text text-center text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi nihil cumque! Iste, eligendi nesciunt, eveniet officia magni iusto totam consequuntur aliquam ullam consectetur.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="icon">
          <i class="fas fa-x-ray text-light px-3"></i>
        </div>
        <div class="card-body">
          <h4 class="text-center">X-ray center</h4>
          <p class="card-text text-center text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi nihil cumque! Iste, eligendi nesciunt, eveniet officia magni iusto totam consequuntur aliquam ullam consectetur.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="icon">
          <i class="fas fa-ambulance text-light px-3"></i>
        </div>
        <div class="card-body">
          <h4 class="text-center">Ambulance</h4>
          <p class="card-text text-center text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi nihil cumque! Iste, eligendi nesciunt, eveniet officia magni iusto totam consequuntur aliquam ullam consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="staff py-5">
  <h1 class="text-center" style="margin-left: 3cm">Our Professional Staff</h1>
  <div class="container" style="margin-left: 5cm">
    <br>
    <tr>
      <td>
    <div class="card" style="width: 20rem; ; ;" >
      <img src="./assets/images/staff.png" style="margin:0 auto" class="card-img-top img1" alt="...">
      <img src="./assets/images/doc1.png" class="card-img-top img2" style="width:21rem ; height: 18rem; position:absolute;top:1rem;right: 1rem; " alt="...">
      <div class="card-body bg-light" style="height: 8rem;border-radius: 6px;box-shadow: 2px 2px 7px 7px rgba(121, 120, 120, 0.123);">
        <h5 class="card-title text-center">Dr. Morin Perera</h5>
        <h6 class="card-title text-center" style="color: #2E6F8F;">Physician</h6>
        <a href="#" class="btn mt-2 mb-2 text-light" style="margin: 0 4rem;font-weight: 500;padding: 3px 20px;"><i class="fas fa-stethoscope mx-2"></i>channel</a>
      </div>
    </div>
      </td>
     <td>
    <div class="card" style="width: 20rem;">
      <img src="./assets/images/staff.png" style="margin: 0 auto;" class="card-img-top img1" alt="...">
      <img src="./assets/images/doc2.png" class="card-img-top img2 " style="width:19rem; margin-left: 100px ;height: 18rem ;position:absolute;top:1rem;right: .5rem;" alt="...">
      <div class="card-body bg-light" style="height: 8rem;border-radius: 6px;box-shadow: 2px 2px 7px 7px rgba(121, 120, 120, 0.123);">
        <h5 class="card-title text-center">Dr. Peter Andrano</h5>
        <h6 class="card-title text-center" style="color: #2E6F8F;">Eye surgeon</h6>
        <a href="#" class="btn mt-2 mb-2 text-light" style="margin: 0 4rem;font-weight: 500;padding: 3px 20px;"><i class="fas fa-stethoscope mx-2"></i>channel</a>
      </div>
    </div>
     </td>
   <td>
    <div class="card" style="width: 20rem;">
      <img src="./assets/images/staff.png" style="margin: 0 auto;" class="card-img-top img1" alt="...">
      <img src="./assets/images/doc3.png" class="card-img-top img2" style="width:21rem;height: 18rem;position:absolute;top:1rem;left: .3rem;" alt="...">
      <div class="card-body bg-light" style="height: 8rem;border-radius: 6px;box-shadow: 2px 2px 7px 7px rgba(121, 120, 120, 0.123);">

        <h5 class="card-title text-center">Dr. Shehana Fenando</h5>
        <h6 class="card-title text-center" style="color: #2E6F8F;">Dental surgeon</h6>
        <a href="#" class="btn mt-2 mb-2 text-light" style="margin: 0 4rem;font-weight: 500;padding: 3px 20px;"><i class="fas fa-stethoscope mx-2"></i>channel</a>
      </div>
    </div>
   </td>
    </tr>
<tr>
  <td>
    <div class="card" style="width: 20rem;">
      <img src="./assets/images/staff.png" style="margin: 0 auto;" class="card-img-top img1" alt="...">
      <img src="./assets/images/doc4.png" class="card-img-top img2" style="width:19rem;height: 18rem;position:absolute;top:1rem;left: 1.5rem;" alt="">
      <div class="card-body bg-light" style="height: 8rem;border-radius: 6px;box-shadow: 2px 2px 7px 7px rgba(121, 120, 120, 0.123);">

        <h5 class="card-title text-center">Dr. Kevin Perera</h5>
        <h6 class="card-title text-center" style="color: #2E6F8F;">Gynaecologist</h6>
        <a href="#" class="btn mt-2 mb-2 text-light" style="margin: 0 4rem;font-weight: 500;padding: 3px 20px;"><i class="fas fa-stethoscope mx-2"></i>channel</a>
      </div>
    </div>
  </td>
  <td>
    <div class="card" style="width: 20rem;">
      <img src="./assets/images/staff.png" style="margin: 0 auto;" class="card-img-top img1" alt="...">
      <img src="./assets/images/doc5.png" class="card-img-top img2" style="width:23rem;height: 18rem; position:absolute;top:1rem;right:0;"
           alt="...">
      <div class="card-body bg-light" style="height: 8rem;border-radius: 6px;box-shadow: 2px 2px 7px 7px rgba(121, 120, 120, 0.123);">

        <h5 class="card-title text-center">Dr. Sherin Mandis</h5>
        <h6 class="card-title text-center" style="color: #2E6F8F;">Physician</h6>
        <a href="#" class="btn mt-2 mb-2 text-light" style="margin: 0 4rem;font-weight: 500;padding: 3px 20px;"><i class="fas fa-stethoscope mx-2"></i>channel</a>
      </div>
    </div>
  </td>
<td>
    <div class="card" style="width: 20rem;">
      <img src="./assets/images/staff.png" style="margin: 0 auto;" class="card-img-top img1" alt="...">
      <img src="./assets/images/doc6.png" class="card-img-top img2" style="width:18rem;height: 18rem;position:absolute;top:1rem;right: 1rem;"alt="...">
      <div class="card-body bg-light" style="height: 8rem;border-radius: 6px;box-shadow: 2px 2px 7px 7px rgba(121, 120, 120, 0.123);">

        <h5 class="card-title text-center">Dr. Nikon Peter</h5>
        <h6 class="card-title text-center" style="color: #2E6F8F;">Physician</h6>
        <a href="#" class="btn mt-2 mb-2 text-light" style="margin: 0 4rem;font-weight: 500;padding: 3px 20px;"><i class="fas fa-stethoscope mx-2"></i>channel</a>
      </div>
    </div>
</td>
</tr>
  </div>
</section>






